header {
  min-height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  text-align: center;
}

.header__content {
  position: relative;
  top: 15vh;
}


/** image */
.me {
  width: 22rem;
  position: relative;
  left: calc(50% - 11rem);
  overflow: hidden;
}
.me__img {
  border-radius: 4rem;
}


/* średni ekran */
@media screen and (max-width: 1024px) {
  .socials {
    display: none !important;
  }
}


/* mały ekran */
@media screen and (max-width: 600px) {
  .socials {
    display: none !important;
  }
  header {
    padding-top: 2rem;
  }
  .header__container {
    position: relative;
    display: block;
    text-align: center;
  }
  .header__content {
    top: 5vh;
  }
}