header {
  padding: 3rem 0 12rem 0;
  overflow: hidden;
}

.header__container {
  position: relative;
  text-align: center;
}

.header__content {
  position: relative;
  margin-top: 15vh;
}

.header__content h4 {
  color: var(--color-primary);
}

.me {
  height: auto;
  position: relative;
  border-radius: 3rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary-variant),
    transparent
  );
}

.me__img {
  border-radius: 3rem;
  transform: rotate(-5deg);
  transition: var(--transition);
  overflow: hidden;
}
.me__img:hover {
  transform: rotate(0);
}


/* średni ekran */
@media screen and (max-width: 1024px) {
  .socials {
    display: none !important;
  }
  .header__content {
    margin-top: 5vh;
  }
}


/* mały ekran */
@media screen and (max-width: 600px) {
  header {
    padding: 3rem 0 2rem 0;
  }
}


/* Portrait */
@media screen and (orientation: portrait) {
  header {
    padding-top: 5rem;
  }
  .header__container {
    display: block;
  }
  .me {
    width: 60vw;
    left: calc(50% - 30vw);
  }
}


/* Landscape */
@media screen and (orientation: landscape) {
  .header__container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 3rem;
  }
  .me {
    width: 28vw;
    left: calc(50% - 14vw);
  }
}