.portfolio__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-bg-variant);
  padding: 2.5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item h3 {
  margin: 0 0 2rem;
  text-align: center;
}

.portfolio__item-btn {
  display: flex;
  grid-area: 1rem;
}

.portfolio__image-container {
  margin: 0 1rem;
}

.portfolio__image {
  border-radius: 0.6rem;
  right: 0;
}


.portfolio__carousel {
  width: 23rem;
  margin-bottom: 2rem;
}

.carousel.carousel-slider {
  padding: 0 4rem 3rem 4rem;
  display: flex;
  justify-content: center;
}

.carousel.carousel-slider .control-arrow {
  display: none;
}

.carousel .control-dots .dot {
  width: 0.6rem !important;
  height: 0.6rem !important;
}


/* średni ekran */
@media screen and (max-width: 1024px) {
}


/* mały ekran */
@media screen and (max-width: 600px) {
}