.contact__container {
  width: 80%;
  display: flex;
  justify-content: center;
}

.contact__options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}

.contact__option {
  background: var(--color-bg-variant);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact__option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  margin-top: 0.5rem;
  display: inline-block;
  font-size: 0.8rem;
}


/* średni ekran */
@media screen and (max-width: 1024px) {
  .contact__options {
    gap: 2rem;
  }
}


/* mały ekran */
@media screen and (max-width: 600px) {
  .contact__options {
    width: var(--container-width-sm);
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}


/* Portrait */
@media screen and (orientation: portrait) {
  .contact__options {
    display: inline-block;
  }
  .contact__option {
    display: block;
    margin-bottom: 2em;
  }
}